:root {
  --bg-color: #EEF0F3;
  --blue-rost-color: #006299;
  --green-rost-color: #00896b;
  --text-color: #404040;
  --dark-blue-rost-color: #004b7c;
  --link-rost-color: #236ca5;
  --link-color: #daa522;
  --free-space-color: #499c55;
  --grey-color: #c8c8c8;
  --selected-color: #ff433f;
  --busy-space-color: #697096;
  --border-color: #8B909D35;
}

@font-face {
  font-family: "OpenSans-LightItalic";
  src: url('/fonts/opensans-lightitalic.woff2') format('woff2'),
       url('/fonts/opensans-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-thin-webfont.woff2') format('woff2'),
       url('/fonts/roboto-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-thinitalic-webfont.woff2') format('woff2'),
       url('/fonts/roboto-thinitalic-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
       url('/fonts/roboto-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-light-webfont.woff2') format('woff2'),
       url('/fonts/roboto-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto-black-webfont.woff2') format('woff2'),
       url('/fonts/roboto-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  font-family: 'Roboto', Tahoma, Arial;
  font-size: 16px;
  color: #404040;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

section {
  padding: 40px 0;
}

.section__heading {
  margin-left: 40px;
  margin-bottom: 40px;
  font-size: 2rem;
  color: #141414;
}



.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 1px solid var(--text-color);
  cursor: pointer;
  background: none;
  font-weight: bold;
}

.input {
  margin-top: 20px;
  padding: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 20px;
}

.icon {
  width: 40px;
  height: 40px;
}

.container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}

.hide__img {
  display: none;
}

.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
  box-shadow: 0 2px 10px 0 #000;
  
}

.header a {
  transition: .3s;
}

.header a:hover,
.header a:focus,
.footer a:focus,
.footer a:hover {
  color: #FFC942;
}

.header__container {
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 200px;
}

.header__nav {
  margin-left: 50px;
  margin-right: auto;
}

.header__list {
  display: flex;
}

.header__list a,
.footer a {
  transition: color, .3s;
}

.header__item:not(:last-child) {
  margin-right: 30px;
}

.header__phone {
  font-size: 24px;
  line-height: 34px;
}

.office-phone,
.cellular-phone {
  display: block;
}

.cellular-phone-mobile {
  background: url(/img/phone-call.svg) no-repeat;
  background-size: 25px 25px;
  background-position: center center;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 100%;
  display: none;
}

.nav-mobile {
  display: none;
  background-color: transparent;
  border: none;
  width: 45px;
  height: 40px;
}

.hero {
  position: relative;
  height: calc(100vh - 145.3px);
  background: url(/img/hall-2.jpg) no-repeat center;
  background-size: cover;
  min-height: 600px;
}

.hero::after {
  content : "";
  display: block;
  position: absolute;
  background-color: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity : 0.4;
}

.hero__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  color: white;
  margin-top: 200px;
  text-align: center;
  text-transform: uppercase;
}

.hero__title {
  margin-bottom: 40px;
  font-size: 48px;
}

.hero__desc a:hover {
  text-decoration: underline;
}

.hero__btn {
  display: inline-block;
  margin-top: 40px;
  padding: 15px 40px;
  color: #fff;
  border: 1px solid #fff;
  transition: .3s;
}

.hero__btn:hover,
.hero__btn:focus {
  box-shadow: inset 0 0 0 2em #fff;
  color: var(--text-color);
}

.offer__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  justify-content: center;
}

.offer__item {
  margin-top: 30px;
  margin-left: 30px;
  min-width: 270px;
  flex: 0 1 calc(33.3% - 30px);
}

.offer__inner {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.offer__icon {
  width: 50px;
  height: 50px;
  fill: var(--blue-rost-color);
}

.offer__title {
  margin-left: 20px;
}

.offer__document {
  margin: 40px 0 50px;
}

.offer__document a {
  color: var(--blue-rost-color);
  font-weight: bold;
  transition: color .3s;
}

.offer__document a:focus,
.offer__document a:hover {
  color: var(--link-color);
}


.offer__comment {
  position: relative;
  margin: 40px 15vw 0;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  font-style: italic;
}

.offer__comment::before,
.offer__comment::after {
  content:'\301E';
  position: absolute;
  display: inline-block;
  font-size: 44px;
  color: var(--blue-rost-color);
}

.offer__comment::before {
  left: -30px;
  top: -10px;
}

.offer__comment::after {
  right: -40px;
  bottom: -40px;
}

.not-pay__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: -20px;
  margin-left: -20px;
}

.not-pay__item {
  margin-top: 20px;
  margin-left: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  flex: 0 1 calc(25% - 20px);
}

.not-pay__list-inner {
  margin-top: 40px;
}

.not-pay__list-inner li {
  padding-bottom: 10px;
}

.not-pay__desc {
  margin: 40px 0;
}

.not-pay__img {
  margin-top: auto;
  height: 80px;
  width: 80px;
  align-self: center;
}

.offices-list {
  margin-top: -30px;
  margin-left: -30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
}

.offices__item {
  min-width: 350px;
  min-height: 400px;
  margin-top: 30px;
  margin-left: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(33.3% - 30px);
  background-color: var(--bg-color);
  border-radius: 20px;
}

.offices__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 0 2px 0 #000;
}

.offices__title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.offices__desc {
  margin-bottom: 30px;
}

.offices__price {
  margin-top: auto;
  margin-bottom: 20px;
  padding: 20px 0;
  font-size: 24px;
  text-align: center;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.offices__btn {
  padding: 10px 30px;
  align-self: center;
  border: 1px solid #000;
  background-color: transparent;
}

.popup-container {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, .85);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.cancel-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  background-color: transparent;
  fill: #000;
  border: none;
}

.popup-window {
  position: relative;
  max-width: 600px;
  margin: 50px auto;
  padding: 10px;
  text-align: center;
  background-color: #fff;
}

.popup-wrapper {
  position: relative;
  margin: 40px;
}

.popup__img {
  height: 100px;
}

.popup__heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 38px;
}

.popup__desc {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  margin: 5px;
  padding: 10px;
  height: 40px;
  flex-grow: 1;
}

.form-btn {
  margin-top: 10px;
}

.popup__agree {
  display: inline-block;
  margin-top: 20px;
  max-width: 400px;
}

.plan {
  position: relative;
}

/* .plan-img {
  display: block;
  position: fixed;
  right: 10vw;
  top: 10vh;
  max-width: 40vw;
  height: auto;
}

.plan-img img {
  display: block;
  box-shadow: 0 0 10px #000;
  border-radius: 20px;
} */
/* #room-c {
  fill: transparent;
} */

/* .cls-8 {
  fill: transparent;
} */

.slider-container {
  max-width: 1170px;
}

.swiper-container1 {
  overflow: hidden;
}

.slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-container {  
  box-shadow: 0 0 5px #000;
  margin-left: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.884);
  display: inline-block;
  border-radius: 20px;
}

.info__title {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
}

.features p {
  margin: 20px 0;
}

.swiper-button-next,
.swiper-button-prev {
  display: inline-block;
  position: static;
  margin-top: 0;
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-size: 20px 20px;
  
}

.swiper-button-prev {
  background-image: url(/img/next.svg);
  transform: rotate(180deg);
}

.swiper-button-next {
  background-image: url(/img/next.svg);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.gallery__img {
  display: block;
  height: 350px;
  width: auto;
}

.spaces-container {
  position: static;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid #fff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 12px;
  height: 12px;
}

.slider-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.slider-buttons {
  flex-shrink: 0;
}

.spaces__features {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.spaces__price {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

.spaces__action {
  margin-top: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.spaces__img {
  display: block;
  max-height: 500px;
  min-height: 400px;
  height: 100%;
  width: 100%;
}

.slider__icon {
  fill: var(--blue-rost-color);
}

.slider__icon:not(:last-child) {
  margin-right: 20px;
}

.legend__list {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.legend__item {
  display: flex;
  align-items: center;
  padding: 5px;
}

.legend__icon {
  width: 50px;
  height: 25px;  
  margin-right: 10px;
  border-radius: 8px;
}

.legend__desc {
  font-family: "OpenSans-LightItalic", "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  line-height: 1px;
  
}

.legend__free {
  background-color: var(--free-space-color);
}

.legend__occupied {
  background-color: var(--busy-space-color);
}

.legend__selected {
  background-color: var(--selected-color);
}
.legend__meeting {
  border: 1px solid var(--selected-color);
}

.slider-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 300px;
  background: linear-gradient(to right, rgba(0, 0, 0,0.7) 97%, rgba(0, 0, 0,0));
  display: none;
  text-align: center;
  transition: opacity .3s;
}

.button-container:hover,
.button-container:focus {
  opacity: 1;
}

.tarif-container {
  display: flex;
}

.tarif-nav__list {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-right: 20px;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 20px;
}

.tarif-nav__list li:not(:last-child) {
  border-bottom: 1px solid #000;
}
.tarif-nav__list li {
  width: 100%;
  height: 100%;
  transition: color .3s;
}

.tarif-nav__list li:hover,
.tarif-nav__list li:focus {
  color: var(--blue-rost-color);
}

.tarif-nav__list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
}

.tarif-nav__list li a.active {
	background-color: var(--blue-rost-color);
	color: #fff;
	pointer-events: none;
}

.tarif-content {
  width: 100%;
	overflow: hidden;
	border: 1px solid #000;
  border-radius: 10px;
  padding: 40px; 
}

.tarif-quantity__input {
  width: 60px;
}

.tarif-place__input {
  width: 50px;
  text-transform: uppercase;
}

.faded {
	opacity: 0;
	transform: translateX(600px);
	transition: opacity 0.3s, transform 0.3s;
}

.faded.in {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 0.3s, transform 0.3s;
}

.tarif-pane {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tarif-pane.active {
  display: flex;
}

.tarif-pane__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.tarif__feature-list {
  padding: 0.25em 0 2.5em;
  list-style: circle;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--blue-rost-color);
}

.tarif__feature-list li {
  padding: 5px
}

.tarif__feature-list li:not(:last-child) {
  margin-right: 30px;
}

.tarif-price__title {
  font-size: 24px;
  font-weight: bold;
}

.tarif__price {
  text-align: center;
  padding: 0.5em 0 0.75em;
  margin-bottom: 10px;
  font-size: 20px;
}

.blue-btn {
  color: var(--blue-rost-color);
  border: 1px solid var(--blue-rost-color);
  background-color: transparent;
  transition: 0.3s;
}

.blue-btn:hover,
.blue-btn:focus {
  color: #fff;
  box-shadow: inset 0 0 0 2em var(--blue-rost-color);
}

.black-btn {
  color: #000;
  border: 1px solid #000;
  background-color: transparent;
  transition: 0.3s;
}

.black-btn:hover,
.black-btn:focus {
  color: #fff;
  box-shadow: inset 0 0 0 2em #000;
}

.tarif__action {
  margin-top: auto;
  font-weight: bold;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.radio {
  display: none;
}

.contacts-feedback__wrapper {
  display: flex;
  justify-content: space-between;
}

.contacts__wrapper {
  max-width: 500px;  
  margin-right: auto;
  background-color: var(--bg-color);
  border-radius: 20px;
  padding: 40px;
}

.contacts__table {
  border-collapse: collapse;
}

.contacts__table a {
  transition: color .3s;
}

.contacts__table a:hover,
.contacts__table a:focus {
  color: var(--link-color);
}

.contacts__table td {
  vertical-align: top;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 3px solid #8b909d2e;
  line-height: 24px;
}

.contacts-row-address td {
  padding-top: 0;
}

.contacts__title {
  width: 140px;
  font-size: 22px;
  font-weight: 700;
  color: var(--dark-grey-color);
}

.contacts__phone {
  display: block;
}

.contacts__btn {
  display: inline-block;
  margin-top: 40px;    
}

.feedback {
  margin: auto;
}

.feedback__heading {
  margin-top: 0;
  margin-left: 0;
  text-align: center;  
}

.feedback__form {
  display: flex;
  flex-direction: column;
  max-width: 380px;
}

.feedback__desc {
  text-align: justify;
}

.fb-textarea {
  line-height: 1.5;
  resize: none;
}

.feedback__btn {
  margin-top: 20px;
}

.error {
  border: 1px solid #ff0000;
}

.map {
  padding-bottom: 0;
}

.footer {
  background-color: #006299;
  color: #fff;
}
.footer__container {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}

.footer-bar {
  /* margin-top: 20px; */
  padding: 20px;
  border-top: 1px solid #fff;
  text-align: center;
}

.footer__title {
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

.footer__text {
  color: #c8c8c8;
  margin-top: 10px;
  text-align: center;
}

.footer__text a:hover,
.footer__text a:focus {
  color: var(--link-color);
}

.footer-left,
.footer-right {
  flex: 0 0 30%;
}

.footer-right {
  text-align: center;
}

.footer-center {
  flex: 0 0 40%;
}

.footer-logo {
  display: inline-block;
  width: 200px;
  height: 90px;
  margin-bottom: 10px;
  background: url(/img/logo-w.svg) no-repeat;
}

.footer-nav__item {
  padding: 5px;
}

.social {
  margin-bottom: 10px;
}

.social__icon {  
  fill: #fff;
  width: 30px;
  width: 30px;
}

.social__link:not(:last-child) {
  margin-right: 10px;
}

.cls-1{fill:#c8c8c8;}
.cls-2{font-size:8px;}
.cls-2,.cls-6{font-family:OpenSans-LightItalic, Open Sans;font-weight:300;font-style:italic;}
.cls-3{fill:#ff433f;}
.cls-4,.cls-8,.cls-9{fill:none;}
.cls-4{stroke:#ff433f;stroke-miterlimit:10;stroke-width:0.5px;}
.cls-5{fill:#499c55;}
.cls-6{font-size:7px;}
.cls-7{fill:#697096;}
.cls-9{stroke:#000;stroke-miterlimit:22.93;stroke-width:0.57px;}

.cls-5:hover,
.cls-5:focus {
  fill: var(--selected-color);
}

.busy {
  fill: var(--selected-color);
}

@media (max-width: 1200px) {
  
.container {
  padding-left: 10px;
  padding-right: 10px;
}

.nav-mobile {
  display: block;
}

.header__nav {
  display: none;
  position: absolute;
  background-color: #fff;
  right: 0;
  top: 140px;
}

.header__list {
  flex-direction: column;
  padding: 20px;
}

}

@media (max-width: 1024px) {

  .not-pay__item {
    flex: 1 1 calc(50% - 20px);
  }

  .contacts-feedback__wrapper {
    flex-wrap: wrap;
  }

}
@media (max-width: 860px) {
  .tarif-container {
    flex-direction: column;
  }

  .tarif-nav__list {
    flex-direction: row;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .tarif-nav__list li:not(:last-child) {
    border-bottom: none;
    border-right: 1px solid #000;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
  }

  .footer-center {
    margin: 40px 0;
  }
}


@media (max-width: 500px) {
  .hero__title {
    font-size: 36px;
  }
  
  .nav-mobile {
    order: -1;
    margin-right: 20px;
  }

  .header__phone {
    margin-left: 20px;
  }

  .office-phone,
  .cellular-phone {
    display: none;
  }

  .cellular-phone-mobile {
    display: block;
  }

  .slider-buttons {
    display: none;
  }
  .info-container {
    margin-left: 10px;
  }
}